/*----------------------------- Global CSS ------------------------------*/

.button {
    font-size: 1rem;
	padding: 1rem 3rem;
	margin: 1rem 0rem;
    height: 3rem;
	font-weight: bold;
    color: hsl(0, 100%, 100%);
	background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: 0rem;
    border-radius: 3rem;
}

.button:hover {
    filter: brightness(1.2) contrast(80%);
}

p {
	color: hsl(233, 8%, 62%);
	line-height: 2rem;
}

a:hover {
    color: hsl(136, 65%, 51%);
}

/*-------------------------- For Laptop Screen --------------------------*/

@media only screen and (min-device-width: 961px) {
	body {
		font-family: "Public Sans", sans-serif;
		font-size: 1rem;
	}
	
	header {
        padding: 0rem 15%;
		display: flex;
		justify-content: space-between;
        margin: 0rem;
	}

	.header-logo {
		padding: 1rem 0rem;
		margin: 1rem 0rem;
	}

    .hamburger-mechanism {
        display: none;
    }

	.menu {
		display: flex;
		justify-content: baseline;
		align-items: center;
	}

	.menu a {
		margin: 0rem 1rem;
		color: hsl(233, 8%, 62%);
	}

	.menu a:hover {
        margin-top: 0.25rem;
		color: hsl(233, 26%, 24%);
	}

	.menu a:after{
        content: "";
		position: relative;
		height: 0.25rem;
        left: 0;
        right: 0;
        bottom: -1.25rem;
		background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
		display: none;
        
	}

	.menu a:hover::after {
		display: block;
	}

	.hero {
		padding: 12rem 15%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.hero .hero-content {
        width: 45%;
		padding-right: 1.7%;
        z-index: 2;
	}

	.hero-content h1 {
		color: hsl(233, 26%, 24%);
		font-size: 3rem;
		line-height: normal;
		padding-right: 15%;
	}

	.hero-content p {
		padding-right: 30%;
		padding-top: 1rem;
		margin: 1rem 0rem;
	}

	.hero-background {
		background-image: none;
	}

	.hero-background::before {
		content: "";
        position: absolute;
        height: 130%;
        background-image: url(../images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: 50rem -18rem;
        background-size: 75%;
        width: 100%;
        margin: 0rem -48%;
        top: 5rem;
        z-index: 1;
	}

	.hero-background::after {
		content: "";
        position: absolute;
        height: 155%;
        background-image: url(../images/image-mockups.png);
        background-repeat: no-repeat;
        background-position: right -8rem;
        background-size: 45%;
        width: 100%;
        margin: 0rem -48%;
        top: 5rem;
        z-index: 1;
	}

	.features {
		padding: 8rem 15%;
		background-color: hsl(220, 16%, 96%);
	}

	.features h1 {
		color: hsl(233, 26%, 24%);
		font-size: 2rem;
		line-height: normal;
	}

	.features p {
		padding: 2rem 0rem;
	}

	.features-panel {
        margin-top: 2rem;
		display: flex;
		justify-content: space-between;
	}

    .feature-card-first {
        padding: 0rem 1rem 0rem 0rem;
    }

    .feature-card {
        padding: 0rem 1rem;
    }

    .feature-card-last {
        padding: 0rem 0rem 0rem 1rem;
    }

	.feature-card img, .feature-card-first img, .feature-card-last img {
		padding: 1rem 0rem;
	}

	.feature-card h2, .feature-card-first h2, .feature-card-last h2  {
		padding: 2rem 0rem;
        font-size: 1.5rem;
	}
	
	.feature-card p, .feature-card-first p, .feature-card-last p  {
		padding: 0rem 0rem;
		line-height: 2rem;
	}

    .articles {
        padding: 8rem 15%;
    }

    .articles h1 {
		color: hsl(233, 26%, 24%);
		font-size: 2rem;
		line-height: normal;
        margin-bottom: 4rem;
	}

    .articles .articles-panel {
        display: flex;
        justify-content: space-between;
    }

    .article-card-first {
        border-radius: 0.5rem;
        margin: 0rem 1% 0rem 0rem;
        overflow: hidden;
    }

    .article-card {
        border-radius: 0.5rem;
        margin: 0rem 1%;
        overflow: hidden;
    }

    .article-card-last {
        border-radius: 0.5rem;
        margin: 0rem 0rem 0rem 1%;
        overflow: hidden;
    }

    .article-card img, .article-card-first img, .article-card-last img {
        height: 40%;
        margin-bottom: 2rem;
    }

    .article-card h4, .article-card-first h4, .article-card-last h4 {
        color: hsl(233, 26%, 24%);
        font-size: 0.6rem;
        line-height: normal;
        margin: 0rem 10%;
    }

    .article-card h3, .article-card-first h3, .article-card-last h3 {
        color: hsl(233, 26%, 24%);
		font-size: 1rem;
		line-height: 1.5;
        margin: 1rem 10%;
    }

    .article-card h3:hover, .article-card-first h3:hover, .article-card-last h3:hover {
        color: hsl(136, 65%, 51%);
    }

    .article-card p, .article-card-first p, .article-card-last p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 0rem 10%;
    }

    .footer {
        padding: 3rem 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: hsl(233, 26%, 24%);
    }

    .footer .footer-logo {
        margin: 0rem 0.5rem 3rem 0rem;
    }

    .footer a {
        color: white;
        margin: 0.5rem 0rem;
    }

    .footer a:hover {
        color: hsl(136, 65%, 51%);
    }

    .logos-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .logos-column a:hover {
        color: yellow;
    }

    .social-logos {
        display: flex;
        justify-content: space-between;
    }
    
    .social-logo-first {
        margin-right: 0.5rem;
    }

    .social-logos .social-logo {
        background-color: rgba(255, 0, 0, 0);
        margin: 0rem 0.5rem;
    }

    .social-logo-last {
        margin-left: 0.5rem;
    }

    .social-logo:hover, .social-logo-first:hover, .social-logo-last:hover {
        filter: sepia(100%) contrast(50%) saturate(1200%) hue-rotate(423deg);

    }

    .links-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .copyright button {
        margin-left: 10%;
    }
}

/*-------------------------- For Mobile Screen --------------------------*/

@media only screen and (max-device-width:960px) {
	body {
		font-family: "Public Sans", sans-serif;
		font-size: 1rem;
        text-align: center;
        font-weight: lighter;
	}

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 10%;
    }

    .header .menu {
        display: none;
    }
    
    .hamburger-mechanism {
        display: block;
    }

    .mobile-toggle-button {
        display: none;
    }
    
    .mobile-toggle-button ~ .menu, .mobile-toggle-button ~ .close-button {
        display: none;
    }

    .mobile-toggle-button ~ .hamberger-button {
        display: block;
    }

    .mobile-toggle-button:checked ~ .menu {
        position: absolute;
        display: flex;
        background-color: white;
        margin: 0rem;
        top: 5.5rem;
        left: 1.5rem;
        right: 1.5rem;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 50px 150px 150px rgb(0 0 0 / 25%), 0 0px 150px 150px rgb(0 0 0 / 25%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mobile-toggle-button:checked ~ .close-button {
        display: block;
    }

    .mobile-toggle-button:checked ~ .hamberger-button {
        display: none;
    }

    .hero {
        padding: 5rem 10%;
        display: flex;
        flex-direction: column;
		justify-content: space-between;
    }

    .menu a {
        margin: 1rem;
        color: hsl(233, 26%, 24%);
    }

    .header .button {
        position: absolute;
        display: none;
    }

    .hero-content {
        margin-top: 75%;
    }

    .hero-content h1 {
        font-size: 3rem;
        color: hsl(233, 26%, 24%);
    }

    .hero-content p {
		margin: 1rem 0rem;
	}

	.hero-background {
		background-image: none;
	}

	.hero::before {
		content: "";
        position: absolute;
        height: 40%;
        background-image: url(../images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100%;
        width: 100%;
        margin: 0rem -10%;
        top: 4rem;
        z-index: -2;
	}

	.hero::after {
		content: "";
        position: absolute;
        height: 40%;
        background-image: url(../images/image-mockups.png);
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: 80%;
        width: 100%;
        top: 4rem;
        margin: 0rem -10%;
        z-index: -1;
	}

	.features {
		padding: 5rem 10%;
		background-color: hsl(220, 16%, 96%);
	}

	.features h1 {
		color: hsl(233, 26%, 24%);
		font-size: 2rem;
        padding: 0rem 5%;
		line-height: normal;
	}

	.features p {
		padding: 1.5rem 0rem;
	}

	.features-panel {
        margin-top: 3rem;
		display: flex;
        flex-direction: column;
		justify-content: space-between;
	}

    .feature-card-first {
        padding: 0rem 0rem 1rem;
    }

    .feature-card {
        padding: 1rem 0rem;
    }

    .feature-card-last {
        padding: 1rem 0rem 0rem;
    }

	.feature-card img, .feature-card-first img, .feature-card-last img {
		padding: 0rem 0rem;
	}

	.feature-card h2, .feature-card-first h2, .feature-card-last h2  {
		padding: 1.5rem 0rem;
        color: hsl(233, 26%, 24%);
        font-size: 1.5rem;
	}
	
	.feature-card p, .feature-card-first p, .feature-card-last p  {
		padding: 0rem 0rem;
		line-height: 2rem;
	}

    .articles {
        padding: 5rem 10% 10rem;
    }

    .articles h1 {
		color: hsl(233, 26%, 24%);
		font-size: 2rem;
		line-height: normal;
        margin: 2rem 5%;
	}

    .articles .articles-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article-card-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-bottom: 2.5rem;
    }

    .article-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.5rem;
        overflow: hidden;
        margin: 2.5rem 0rem;
    }

    .article-card-last {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-top: 2.5rem;
    }

    .article-card img, .article-card-first img, .article-card-last img {
        width: 100%;
        margin-bottom: 2rem;
    }

    .article-card h4, .article-card-first h4, .article-card-last h4 {
        color: hsl(233, 26%, 24%);
        font-size: 0.6rem;
        line-height: normal;
        text-align: left;
        margin: 0rem 10%;
    }

    .article-card h3, .article-card-first h3, .article-card-last h3 {
        color: hsl(233, 26%, 24%);
		font-size: 1rem;
		line-height: 1.5;
        text-align: left;
        margin: 1rem 10%;
    }

    .article-card h3:hover, .article-card-first h3:hover, .article-card-last h3:hover {
        color: hsl(136, 65%, 51%);
    }

    .article-card p, .article-card-first p, .article-card-last p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: left;
        margin: 0rem 10%;
    }

    .footer {
        padding: 3rem 15%;
        display: flex;
        flex-direction: column;
		align-items: center;
        background-color: hsl(233, 26%, 24%);
    }

    .footer .footer-logo {
        margin: 0rem 0rem;
    }

    .footer a {
        color: white;
        margin: 0.5rem 0rem;
    }

    .footer a:hover {
        color: hsl(136, 65%, 51%);
    }

    .logos-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logos-column a:hover {
        color: yellow;
    }

    .social-logos {
        margin: 1.5rem 0rem;
        display: flex;
        justify-content: space-between;
    }
    
    .social-logo-first {
        margin-right: 0.5rem;
    }

    .social-logos .social-logo {
        background-color: rgba(255, 0, 0, 0);
        margin: 0rem 0.5rem;
    }

    .social-logo-last {
        margin-left: 0.5rem;
    }

    .social-logo:hover, .social-logo-first:hover, .social-logo-last:hover {
        filter: sepia(100%) contrast(50%) saturate(1200%) hue-rotate(423deg);

    }

    .links-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0rem;
    }
}